{% block body %}
		<div class="row">
			<div class="col-3">
				{% block first_bar_container %}{% endblock first_bar_container %}
			</div>
			<div class="col-9">
				<h1>{% block title %}{% endblock title %}</h1>
				{% block content %}{% endblock content %}
			</div>
		</div>
	</div>
{% endblock %}
