<div class="list-group">
	{% embed '@MazariniTools/iterative.html.twig' %}
		{% block item_container %}
			<a href="{{ item.url }}" class="list-group-item list-group-item-action{{ item.class }}">
				{{ item.label }}
			</a>
			{% if item is iterable %}
				{% include '@MazariniTest/step/menu.html.twig' with {'items': item } only %}
			{% endif %}
		{% endblock item_container %}
	{% endembed %}
</div>
