<div class="list-group mb-3">
	<a class="list-group-item list-group-item-action list-group-item-dark">
		{{ items.label }}
	</a>
	{% embed '@MazariniTools/iterative.html.twig' %}
		{% block item_container %}
			<a href="{{ item.url }}" class="list-group-item list-group-item-action{{ item.class }}">
				{{ item.label }}
			</a>
		{% endblock item_container %}
	{% endembed %}
</div>
