{% extends '@MazariniTest/step/layout.html.twig' %}

{% block content %}
	{{ dump(tree) }}
	<table>
		<tr>
			<th>
				Key
			</th>
			<th>
				Url
			</th>
			<th>
				Class
			</th>
			<th>
				Label
			</th>
		</tr>
		{% include 'step/tree.html.twig' with {'items': tree} only %}
	</table>
	<div class="list-group accordion show" id="tree">
		{% include '@MazariniTest/menu.html.twig' with {'items': tree, 'accordion': 'tree'} only %}
	</div>

{% endblock %}
